// about section starts
section#about.about
  .container
    .row.align-items-center
      .col-md-6.image
        img.w-100.mb-5.mb-md-0(src='/images/application/err2.jpg' alt='')
      .col-md-6.content
        span about us
        h3 You have an appointment with life, an appointment that is in the here and now
        p
          | Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam cupiditate vero in provident ducimus. Totam quas labore mollitia cum nisi, sint, expedita rem error ipsa, nesciunt ab provident. Aperiam, officiis!
        a.btn(href='#contact') make appointment
// about section ends
// benifits section starts
section#benifits.benifits
  h1.heading benifits of appointment
  .box-container.container
    .box
      img(src='images/icon-1.svg' alt='')
      h3 Better Accuracy
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, non?
    .box
      img(src='images/icon-2.svg' alt='')
      h3 Client satisfaction
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, non?
    .box
      img(src='images/icon-3.svg' alt='')
      h3 Co-ordination
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse, minima?
    .box
      img(src='images/icon-4.svg' alt='')
      h3 Improved Efficiency
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse, minima?
    .box
      img(src='images/icon-5.svg' alt='')
      h3 Easy and quick access
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse, minima?
    .box
      img(src='images/icon-6.svg' alt='')
      h3 Speedy service
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse, minima?
// benifits section ends
// footer section starts
section.footer
  .box-container.container
    .box
      i.fas.fa-phone
      h3 phone number
      p 7676951998
      p 9901188088
    .box
      i.fas.fa-map-marker-alt
      h3 our address
      p mumbai, india - 400104
    .box
      i.fas.fa-clock
      h3 appointment timings
      p 09:00am to 10:00pm
    .box
      i.fas.fa-envelope
      h3 email address
      p madakari@gmail.com
      p vignesh@gmail.com
  .credit
    | copyright @  by 
    span 404 WEB HACKERS
// footer section ends
// custom js file link
script(src='/js/script.js')