header.header.fixed-top
  .container
    .row.align-items-center.justify-content-between
      a.logo(href='#home')
        | EP
        span PO.
      nav.nav
        a(href='/home') home
        a(href='/viewAppointment') View Appointment
        a(href='/chatbot') chatbot
        a(href='/me') about me
        a(href='/login') login
        a(href='/signUp') sign up
        a(href='/sucsAppointment') Accepted Appointment
      #menu-btn.fas.fa-bars