@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

:root{
   --blue:#00b8b8;
   --black:#333;
   --white:#fff;
   --light-color:#666;
   --light-bg:#eee;
   --border:.2rem solid rgba(0,0,0,.1);
   --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}

*{
   font-family: 'Poppins', sans-serif;
   margin:0; padding:0;
   box-sizing: border-box;
   outline: none; border:none;
   text-decoration: none !important;
   text-transform: capitalize;
}

*::-webkit-scrollbar{
   height: .5rem;
   width: 1rem;
}

*::-webkit-scrollbar-track{
   background-color: transparent;
}

*::-webkit-scrollbar-thumb{
   background-color: var(--blue);
}

html{
   font-size: 62.5%;
   overflow-x: hidden;
   scroll-behavior: smooth;
   scroll-padding-top: 6.5rem;
}

section{
   padding:7rem 2rem;
}

.heading{
   text-align: center;
   font-size: 4rem;
   color:var(--black);
   text-transform: uppercase;
   font-weight: bolder;
   margin-bottom: 3rem;
}

.btn{
   display: inline-block;
   padding:1rem 3rem;
   border-radius: .5rem;
   background-color: var(--blue);
   cursor: pointer;
   font-size: 1.7rem;
   color:var(--white);
}

.btn:hover{
   background-color: var(--black);
   color:var(--white);
}

.btn1{
    display: inline-block;
    padding:1rem 3rem;
    border-radius: .5rem;
    background-color: var(--black);
    cursor: pointer;
    font-size: 1.7rem;
    color:var(--white);
 }
 
 .btn1:hover{
    background-color: var(--blue);
    color:var(--white);
 }

 .btn2{
    margin-top: 0.5rem;
    display: inline-block;
    padding: 1rem 3rem;
    border-radius: .5rem;
    background-color: var(--black);
    cursor: pointer;
    font-size: 1.3rem;
    color: var(--white);
 }

 .btn2:hover{
    background-color: var(--blue);
    color: var(--white);
 }

.header{
   padding:2rem;
   border-bottom: var(--border);
}

.header.active{
   background-color: var(--white);
   box-shadow: var(--box-shadow);
   border:0;
}

.header .logo{
   font-size: 2rem;
   color:var(--black);
}

.header .logo span{
   color:var(--blue);
}

.header .nav a{
   margin:0 1rem;
   font-size: 1.7rem;
   color:var(--black);
}

.header .nav a:hover{
   color:var(--blue);
}

#menu-btn{
   font-size: 2.5rem;
   color:var(--black);
   cursor: pointer;
   display: none;
}

.home{
   background:url('/images/application/err1.jpg') no-repeat;
   background-size: cover;
   background-position: center;
}

.home .content{
   width: 55rem;
   padding:2rem;
}

.home .content h3{
   font-size: 6rem;
   text-transform: uppercase;
   color:var(--black);
}

.home .content p{
   line-height: 2;
   font-size: 1.5rem;
   color:var(--light-color);
   padding:1rem 0;
}


.appoint .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:2rem;
 }
 
 .appoint .box-container .box{
    background-color: var(--blue);
    padding:2rem;
    border-radius: .5rem;
    text-align: center;
    box-shadow: var(--box-shadow);
 }
 
 .appoint .box-container .box img{
    height: 20rem;
    margin:1rem 0;
 }
 
 .appoint .box-container .box h3{
    font-size: 2rem;
    color:var(--white);
    margin:1.5rem 0;
 }
 
 .appoint .box-container .box p{
    font-size: 1.5rem;
    color:var(--white);
    line-height: 2;
 }


 .appointment .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:2rem;
 }
 
 .appointment .box-container .box{
    background-color: rgba(104, 177, 205, 0.23);
    padding:2rem;
    border-radius: .5rem;
    text-align: center;
    box-shadow: var(--box-shadow);
 }
 
 .appointment .box-container .box img{
    height: 25rem;
    width: 25rem;
    margin:1rem 0;
    border-radius: 50%;
 }







 

  
  .appointment .box-container .box:hover .share {
    top: 0;
  }
  
  
 
  .appointment .box-container .box .share a {
    font-size: 2rem;
    color: #000;
    margin: 0 1rem;
  }
  
 
 .appointment .box-container .box h3{
    font-size: 2rem;
    color:var(--blue);
    margin:1.5rem 0;
 }
 
 .appointment .box-container .box p{
    font-size: 1.5rem;
    color:var(--white);
    line-height: 2;
 }


 .request form{
   border-radius: .5rem;
   background-color: var(--light-bg);
   padding:2rem;
   margin:0 auto;
   max-width: 50rem;
}

.request form .message{
   margin-bottom: 2rem;
   border-radius: .5rem;
   background-color: var(--blue);
   padding:1.2rem 1rem;
   font-size: 1.7rem;
   color:var(--white);
   text-align: center;
}

.request form .box{
   width: 100%;
   margin-top: 1rem;
   margin-bottom: 2rem;
   border-radius: .5rem;
   background-color: var(--white);
   padding:1.2rem 1.4rem;
   font-size: 1.7rem;
   color:var(--black);
   text-transform: none;
}

.request form span{
   font-size: 1.7rem;
   color:var(--black);
}

.about .row{
   min-height: 50vh;
}

.about .content span{
   font-size: 2rem;
   color:var(--blue);
}

.about .content h3{
   font-size: 3rem;
   color:var(--black);
   margin-top: 1rem;
}

.about .content p{
   padding:1rem 0;
   font-size: 1.4rem;
   color:var(--light-color);
   line-height: 2;
}

.benifits{
   background-color: var(--light-bg);
}

.benifits .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
   gap:2rem;
}

.benifits .box-container .box{
   text-align: center;
   padding:2rem;
   background-color: var(--white);
   box-shadow: var(--box-shadow);
   border-radius: .5rem;
}

.benifits .box-container .box img{
   margin:1rem 0;
   height: 4rem;
}

.benifits .box-container .box h3{
   font-size: 2rem;
   padding:1rem 0;
   color:var(--black);
}

.benifits .box-container .box p{
   font-size: 1.5rem;
   color:var(--light-color);
   line-height: 2;
}


.prview .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
   gap:2rem;
}

.prview .box-container .box{
   background-color: rgb(91, 172, 204);
   padding:2rem;
   border-radius: 2.5rem;
   text-align: center;
   box-shadow: var(--box-shadow);
   border-left-color: #000;

}

.prview .box-container .box img{
   height: 20rem;
   margin:1rem 0;
}


.prview .box-container .box h3{
   font-size: 2rem;
   color:var(--white);
   margin:1.5rem 0;
}

.prview .box-container .box p{
   font-size: 1.5rem;
   color:var(--white);
   line-height: 2;
}

.givereview form{
   border-radius: .5rem;
   background-color: var(--light-bg);
   padding:2rem;
   margin:0 auto;
   max-width: 50rem;
}

.givereview form .message{
   margin-bottom: 2rem;
   border-radius: .5rem;
   background-color: var(--blue);
   padding:1.2rem 1rem;
   font-size: 1.7rem;
   color:var(--white);
   text-align: center;
}

.givereview form .box{
   width: 100%;
   margin-top: 1rem;
   margin-bottom: 2rem;
   border-radius: .5rem;
   background-color: var(--white);
   padding:1.2rem 1.4rem;
   font-size: 1.7rem;
   color:var(--black);
   text-transform: none;
}

.givereview form span{
   font-size: 1.7rem;
   color:var(--black);
}

.review .row{
   min-height: 50vh;
}

.review .content span{
   font-size: 2rem;
   color:var(--blue);
}

.review .content h3{
   font-size: 3rem;
   color:var(--black);
   margin-top: 1rem;
}

.review .content p{
   padding:1rem 0;
   font-size: 1.4rem;
   color:var(--light-color);
   line-height: 2;
}


.footer{
   background-color: var(--light-bg);
}

.footer .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
   gap:3rem;
}

.footer .box-container .box{
   text-align: center;
}

.footer .box-container .box i{
   height: 5rem;
   width: 5rem;
   border-radius: 50%;
   line-height: 5rem;
   font-size: 2rem;
   background-color: var(--blue);
   color:var(--white);
}

.footer .box-container .box h3{
   font-size: 2rem;
   margin:2rem 0;
   color:var(--black);
}

.footer .box-container .box p{
   font-size: 1.5rem;
   color:var(--light-color);
   text-transform: none;
}

.footer .credit{
   text-align: center;
   border-top: var(--border);
   padding-top: 2rem;
   margin-top: 2rem;
   font-size: 2rem;
   color:var(--light-color);
}

.footer .credit span{
   color:var(--blue);
}







/* media queries  */

@media (max-width:991px){

   html{
      font-size: 55%;
   }

   .header .link-btn{
      display: none;
   }

   section{
      padding:5rem 2rem;
   }

}

@media (max-width:768px){

   section{
      padding:3rem 1rem;
   }

   #menu-btn{
      display: inline-block;
      transition: .2s linear;
   }

   #menu-btn.fa-times{
      transform: rotate(180deg);
   }

   .header .nav{
      position: absolute;
      top:99%; left:0; right:0;
      background-color: var(--white);
      border-top: var(--border);
      border-bottom: var(--border);
      padding:1rem 0;
      text-align: center;
      flex-flow: column;
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
      transition: .2s linear;
   }

   .header .nav.active{
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
   }

   .header .nav a{
      margin:1rem 0;
      font-size: 2rem;
   }

   .home{
      background-position: left;
   }

   .home .content{
      width: auto;
   }

}

@media (max-width:450px){

   html{
      font-size: 50%;
   }

   .home .content h3{
      font-size: 4rem;
   }

   .heading{
      font-size: 3rem;
   }

}
.review .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap:1.5rem;
}

.review .box-container .box{
  background-color: #b9d0d0e7;
  border:black;
  text-align: center;
  padding:3rem 2rem;
}

.review .box-container .box p{
  font-size: 1.4rem;
  line-height: 1.8;
  color:#282020;
  padding:2rem 0;
}

.review .box-container .box .user{
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  object-fit: cover;
}

.review .box-container .box h3{
  padding:1rem 0;
  font-size: 2rem;
  color:#0b0b0b;
}

.review .box-container .box .stars i{
  font-size: 1.5rem;
  color:var(--main-color);
}